.resource-div {
    width: 33.333%;
    height: 50%;
    background-repeat: no-repeat;
    background-size: 58% 95%;
    background-position: center;
    display: flex;
}

.resource-value {
    position: absolute;
    height: 20%;
    color: rgb(255, 255, 255);
    font-size: 400%;
    text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
             1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}

.resource-megacredit {

}

.resource-megacredit {
    background-image: url("../../images/megacredit.png");
}

.resource-plants {
    background-image: url("../../images/plants.png");
}

.resource-steel {
    background-image: url("../../images/steel.png");
}

.resource-titanium {
    background-image: url("../../images/titanium.png");
}

.resource-energy {
    background-image: url("../../images/energy.png");
}

.resource-heat {
    background-image: url("../../images/heat.png");
}

button {
    height: 100%;
    width: 50%;
    background-color: transparent;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 500%;
    text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
             1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}

p {
    position: relative;
    color: black;
    top: -50vh;
    font-size: 30px;
}